.panel {
  padding: 8px 16px 8px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
  border-radius: 2px;
}


.panel::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 4px;
}

.panel.stopped::before {
  background: var(--color-warn);
}

.panel.active::before {
  background: var(--color-success);
}

.panel.stopped {
  background: var(--color-error-light);
}

.panel.active {
  background: var(--color-success-light);
}

.spacer {
  flex: 1 1 auto;
}
