nav {
  height: 100%;
  width: 48px;
  background: var(--color-primary);
  padding: 8px 0;
}

.separator {
  border-bottom: solid 1px var(--color-primary-light);
  border-radius: 4px;
  width: 36px;
  margin: 8px 0;
}
