<main class="flex column">
  <h1>Running</h1>
  <app-list>
    <app-list-item *ngFor="let network of runningNetworks$ | async">
      <span>{{network.name}}</span>
      <button action (click)="stopNetwork(network)">Stop</button>
    </app-list-item>
  </app-list>
  <div>
  </div>
  <h1>Stopped</h1>
  <app-list>
    <app-list-item *ngFor="let network of stoppedNetworks$ | async">
      <span>{{network.name}}</span>
      <button action (click)="startNetwork(network)">Start</button>
      <button action [routerLink]="['editor', network.identifier]">Edit</button>
    </app-list-item>
  </app-list>
</main>
